
{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
{{projectName}} - {{projectUsername}}
{% endblock %}

{% block content %}
{% csrf_token %}
<!-- TODO add fields to the data base, short and long description -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<style type="text/css">
	html, body {
		height: 100%;
    	margin: 0;
	}
	.expand{
		border-radius: 14px;
		overflow: hidden;
		cursor: pointer;
	}
	
	p,h4,h5,h6{
		font-weight: 300;
	}

	.nav-wrapper.green.darken-1{
		background-color: #EDF3F8 !important;
	}

	.brand-logo, a {
		color: #667989 !important;
	}

	.container {
		min-height: 100%; 
		min-width: 100%;
	}

	#heading{
		position: absolute;
		top: 50%;
		left: 50%;
	    margin: 250px auto; 
	    display: table;
	    text-align: center;
	    white-space:nowrap;
	}
	#fooContainer {
		z-index:111;
		position: relative;
		width: 50%;
	}
	#desc{
		position: absolute;
		color: #627686;
		top: 50%;
		left: 50%;
		margin: 350 auto;
		font-size: 20px;
		font-weight: 30;
		font-family: Roboto;
		display: table;
	    text-align: center;
	}
	#scroll {
		position: absolute;
		margin-top: 400;
		margin-left : 100%;
		display: table;
	    text-align: center;
	}
</style>


<div class='container' style='background-color: #EDF3F8;'>
	<div class='row' id='fooContainer'>
		<div class='col l12 s12 m12' id='heading'>
			<h1 style='font-weight: 300;'>{{ projectName }}</h1>
		</div>
		<div class='col s12 l12 m12' id='desc'>
			{{ shortDesc }} <!--  TODO : Change to shortDesc-->
		</div>
		<div id='scroll'>
			<a class='btn-floating btn-large' href='#info'><i class="material-icons">arrow_downward</i></a>
		</div>
	</div>
	<div style="position:relative">
		<div id="particles-js" style='z-index: -111; display: block;'></div>
	</div>
</div>

<div class='container'>
	<div class='row' id='info' style='font-family: "Roboto", serif;'>
		<br>
		<strong style="margin-left: 20px; color:#232732; font-size : 25px; font-weight:300;">{{ projectUsername }}</strong> 
		<span style="font-weight: 300; color: #B3BDC6; font-size : 25px;">{{ publishedDate }}</span>
		<br>
		<span style="margin-left : 70px; font-size:48px; margin-top:-5px; font-weight:300; color:#232732; letter-spacing: -1.7px;">{{ projectName }}</span>
		<img src='{{ projectImage.url }}' style='display:block; margin:auto;'> <!-- Have to add files -->
	</div>
	<br>
	<div class='row' style='margin-left: 30px; font-family: "Montserrat", sans-serif;'>
		<div class='col l8'>
			<h3 style='font-weight: 300; font-size:20px;'>ABOUT</h3>
			<p style="color: #5e7283; font-family: 'Roboto'; font-size:20px;">{{ projectDescription }}</p> 
		</div>
		<div class="col l4">
			<h3 style='font-weight: 300; font-size:20px;'>SKILLS USED</h3>
			{% for i in skillList %}
				<span style='color: #5e7283; font-family: "Roboto"; font-size:20px;'>{{ i }}</span>
				<br>
			{% endfor %}
		</div>
	</div>
	<hr style='color : #DDE7F0; font-size: 1px; margin-right: 15%; margin-left: 12%;'>

	<div style='margin-left: 30px; font-family: "Montserrat", sans-serif;'>
		<h2 style='font-weight: 300; font-size: 20px;'>AUTHORS</h2>
		{% for i in contributorList %}
			<h3 style='color: #5e7283; font-family: "Roboto"; font-size:20px;'>{{ i }}</h3>
		{% endfor %}
	</div>
</div>


<!-- DONT TOUCH -->
{% if isOwner == True %}
<div class="fixed-action-btn" >
	<a class="btn-floating btn-large teal">
		<i class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a class="btn-floating red btn tooltipped" id="editProjectName"data-position="left" data-delay="50" data-tooltip="Change Project Name" projectName='{{projectName}}' projectId={{projectId}}><i class="material-icons">mode_edit</i></a></li>
		<li><a class="btn-floating green btn tooltipped" data-position="left" id="editProjectDescription"data-delay="50" data-tooltip="Change Project Description" projectId={{projectId}} projectDescription='{{projectDescription}}'><i class="material-icons">mode_comment</i></a></li>
		<li><a class="btn-floating purple btn tooltipped" data-position="left"  id="addFiles" data-delay="50" data-tooltip="Add Files" projectId={{projectId}}><i class="large material-icons">publish</i></a></li>
		<li><a class="btn-floating orange btn tooltipped" data-position="left" id="editContributors" data-delay="50" data-tooltip="Edit contributors" projectId={{projectId}}><i class="material-icons">group_add</i></a></li>
		<li><a class="btn-floating yellow btn tooltipped" data-position="left" id="editSkills" data-delay="50" data-tooltip="Edit Technologies" projectId={{projectId}}><i class="material-icons">build</i></a></li>

	</ul>
</div>

<div id="editProjectNameModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4 class='modal-header'>Project Name</h4>
		<div class = "row">
			<div class="input-field col s5">
				<input type="text" class="validate" name="projectNameChange" id="projectNameChange"required="true">
			</div>
		</div>

	</div>


	<div class="modal-footer">
		<a class="waves-effect waves-light btn green" id="editProjectNameBtn"><i class="material-icons right">done</i>Change</a>
	</div>
</div>

<div id="editProjectDescriptionModal" class="modal bottom-sheet">
	<div class="modal-content">
		<h4 class='modal-header'>Project Description</h4>
		<div class = "row">
			<div class="input-field col s12 l12 m12">
				<textarea type="text" class="validate" name="projectDescriptionChange" id="projectDescriptionChange"required="true" width = "100%" style="height:8rem"></textarea>
			</div>
		</div>

	</div>


	<div class="modal-footer">
		<a class="waves-effect waves-light btn green" id="editProjectDescriptionBtn"><i class="material-icons right">done</i>Change</a>
	</div>
</div>

<div id="addFilesModal" class="modal bottom-sheet">
	<div class="modal-content">

		<form method="POST" action="{% url 'dashboard:uploadFiles' %}" enctype="multipart/form-data">

			{% csrf_token %}
			<input type="hidden" name="projectId" value="{{projectId}}">
			<div class="row">
				<div class="col s12 m6">
					<div class="file-field input-field">
						<div class="btn">
							<span>File</span>
							<input type="file" name="uploadedFile" id="uploadedFile">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text" placeholder="Upload one or more files">
						</div>
					</div>

				</div>
				<div class="col s12 m6">
					<div class="input-field">
						<input type="text" class="validate" name="documentName" id="documentName"required="true" placeholder="Other poeple will see this name">
						<label for="projectName">Document Name</label>
					</div>
				</div>
				
			</div>

			<div class="modal-footer">
				<input type="submit" class="validate btn green darken-4" name = "Upload">
			</div>
		</form>

	</div>
</div>

<div id="editSkillsModal" class="modal modal-fixed-footer">
	<div class="modal-content">


		<h4>Technologies Used</h4>
		<table id="editSkillsTable">
			<thead>
				<tr>
					<th>Technologies</th>
					<th>Working with</th>
				</tr>
			</thead>

			<tbody>
				{% for skill in addSkills %}
				<tr>
					<td>{{skill.skill.skillName}}</td>
					<td>
						<div class="switch">
							<label>
								Yes
								<input type="checkbox" 
								{% if skill.belongs == 1 %}
								checked
								{% endif %} skillId="{{skill.skill.id}}"
								>
								<span class="lever"></span>
								No
							</label>
						</div>
					</td>

				</tr>



				{% endfor %}

			</tbody>
		</table>
	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-light btn green" projectId={{projectId}} id="editSkillsBtn"><i class="material-icons right">done</i>Change</a>	</div>
</div>

<div id="editContributorsModal" class="modal modal-fixed-footer">
	<div class="modal-content">

		
		<h4>Contributors</h4>
		<table id="editContributorsTable">
			<thead>
				<tr>
					<th>Users</th>
					<th>Working with</th>
				</tr>
			</thead>

			<tbody>
				{% for user in addContributors %}
				<tr>
					<td>{{user.user.username}} {% if user.user.username == username%}(Me){% endif %}</td>
					<td>
						<div class="switch">
							<label>
								Yes
								<input type="checkbox" username={{user.user.username}} {% if user.user.username == username%}checked disabled{% endif %}>
								<span class="lever"></span>
								No
							</label>
						</div>
					</td>

				</tr>



				{% endfor %}

			</tbody>
		</table>
		
	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-light btn green" projectId={{projectId}} id="editContributorsBtn"><i class="material-icons right">done</i>Change</a>	</div>
</div>

{% endif %} <!-- Till here -->

<script type="text/javascript" src = "{% static 'js/dashboard/main.js' %}"></script>
<script src = '{% static "js/particles.min.js" %}'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.expand').each(function(){
			var reducedHeight = $(this).height();
			$(this).css('height', 'auto');
			var fullHeight = $(this).height();
			$(this).height(reducedHeight);

			$(this).data('reducedHeight', reducedHeight);
			$(this).data('fullHeight', fullHeight);
			if($(this).height == $(this).data('reducedHeight'))
				$(this).data('title','Click to expand');
			else
				$(this).removeAttr('title');
		}).click(function() {
			console.log("clicked");
			if($(this).data('fullHeight') >= $(this).data('reducedHeight'))
				$(this).animate({height: $(this).data('fullHeight')}, 500);
		});

		particlesJS.load('particles-js', '{% static "js/particles.json" %}');
	});
</script>
{% endblock %}